html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 100px;
}


/* tugas */
.sidebar-satu{
    background-color: lightcoral;
    width: 900px;
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar-dua{
    background-color: lightcoral;
    width: 1000px;
    padding-left: 10px;
}

/* latihan 1 */
.container-satu {
    background: url(./img/background.jpg);
    width: 800px;
    margin: 50px auto;
    background-color: lightsalmon;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
